{% extends 'base.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block title %}{% trans 'SmartFeed' %}{% endblock title %}
{% block page-title %}{% trans 'SmartFeed' %}{% endblock page-title %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/smartfeed.index.css" rel="stylesheet">
{% endblock css %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/photos.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/smartfeed.js" type="text/javascript" charset="utf-8"></script>
{% endblock script %}

{% block content %}
    {{ block.super }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                {% if period_number %}
                    {% trans 'Showing photos from ' %}{{ period_verbose }}
                {% else %}
                    {% trans 'Showing new SmartFeed photos and all photos from Green SquareFollowings.' %}
                {% endif %}
            </div>
            <div class="col-xs-12 text-center">
                {% trans 'Pick a day ' %}
                <div class="btn-group" role="group" aria-label="bgroup">
                    <button type="button" class="btn btn-xs
                    {% if period_number == 0 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=0 %}">today</a></button>
                    <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 1 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=1 %}">1d</a></button>
                    <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 2 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=2 %}">2d</a></button>
                    <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 3 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=3 %}">3d</a></button>
                    <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 4 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=4 %}">4d</a></button>
                </div>
                {% trans ' ago' %}

            </div>
        </div>
    </div>
    {% if best_media %}
        {% for photo in best_media %}
            {% include 'instagramuser/single_thumbnail_photo_ig.html' %}
        {% endfor %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    {% trans 'Pick a day ' %}
                    <div class="btn-group" role="group" aria-label="bgroup">
                        <button type="button" class="btn btn-xs
                    {% if period_number == 0 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=0 %}">today</a></button>
                        <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 1 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=1 %}">1d</a></button>
                        <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 2 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=2 %}">2d</a></button>
                        <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 3 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=3 %}">3d</a></button>
                        <button type="button" class="btn btn-default btn-xs
                    {% if period_number == 4 %}
                        btn-info
                    {% else %}
                        btn-default
                    {% endif %}
                    "><a href="{% url 'smartfeed:calendar' p_period=4 %}">4d</a></button>
                    </div>
                    {% trans ' ago' %}
                </div>
            </div>
        </div>
    {% else %}
        <p>{% trans 'You have no SquareFollowings defined or they do not have any good recent photos. Go to your dashboard to set up.' %}</p>
    {% endif %}
{% endblock content %}

{% block aside %}
    {{ block.super }}
{% endblock aside %}
