{% load i18n %}
{% load static %}

<div class="row squaresensor_instagramfollowing_panel">
    <div class="col-xs-12 col-sm-2 text-center">
        <div align="center">
            <img src="{{ squarefollowing.instagram_profile_picture_URL }}" class="img-circle img-responsive small_profile_img">
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 text-center">
        @{{  squarefollowing.instagram_user_name }}
        {% if squarefollowing.instagram_full_name %}<br>
        {% trans 'Name:' %}{{ squarefollowing.instagram_full_name }}
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-5 text-center">
        {% for squarefollowing_level_item in squarefollowing.squarefollowingmember_set.all %}
            {% if squarefollowing_level_item.member == logged_member  %}
                <p>{% trans 'SquareFollowing level' %}</p>
                <div class="btn-group" role="group" aria-label="smartfeedselection" id="button_group_{{ squarefollowing.instagram_user_id }}">
                    <button type="button" class="btn
                {% if squarefollowing_level_item.squarefollowing_level == 'G'  %}
                btn-success
                {% else %}
                btn-default
                {% endif %}
                " id="smartfeed_g_{{ squarefollowing.instagram_user_id }}"
                            onclick="smart_feed_subscribe({{ squarefollowing.instagram_user_id }}, 'green', '{% get_static_prefix %}');"
                            >
                        &nbsp;&nbsp;
                    </button>

                    <button type="button" class="btn
                {% if squarefollowing_level_item.squarefollowing_level == 'Y'  %}
                btn-warning
                {% else %}
                btn-default
                {% endif %}
                " id="smartfeed_y_{{ squarefollowing.instagram_user_id }}"
                            onclick="smart_feed_subscribe({{ squarefollowing.instagram_user_id }}, 'yellow', '{% get_static_prefix %}');"
                            >
                        &nbsp;&nbsp;
                    </button>

                    <button type="button" class="btn
                {% if squarefollowing_level_item.squarefollowing_level == 'O'  %}
                btn-danger
                {% else %}
                btn-default
                {% endif %}
                " id="smartfeed_r_{{ squarefollowing.instagram_user_id }}"
                            onclick="smart_feed_subscribe({{ squarefollowing.instagram_user_id}}, 'red', '{% get_static_prefix %}');"
                            >
                        &nbsp;&nbsp;
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>