[funtograph]
SECRET_KEY : isdjoewjdowjdoefdijeodijefoejfoeijfoefe

[database]
SECRET_KEY :
DATABASE_USER :
DATABASE_PASSWORD :
DATABASE_HOST :
DATABASE_PORT :
DATABASE_ENGINE :
DATABASE_NAME :

[cloudinary]
CLOUDINARY_CLOUD_NAME:
CLOUDINARY_API_KEY:
CLOUDINARY_SECRET_KEY: