{% extends 'base.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'New SquareSensor Membership' %}{% endblock title %}
{% block page-title %}{% trans 'New SquareSensor Membership' %}{% endblock page-title %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/members.index.css" rel="stylesheet">
{% endblock css %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/members.js" type="text/javascript" charset="utf-8"></script>
{% endblock script %}

{% block content %}
    {{ block.super }}
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-6 text-center well">
                <h4 class="lead">Purchase Monthly Squaresensor Membership</h4>
                <h3>Price: 5 EUR</h3>
                <p class="text-left">Benefits:</p>
                <ul class="text-left">
                    <li>Benefit 1</li>
                    <li>Benefit 2</li>
                    <li>Benefit 3</li>
                </ul>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="CQ7K6T55KCY98">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="col-xs-6 text-center well bg-success">
                <h4 class="lead">Purchase Yearly Premium Squaresensor Membership</h4>
                <h3>Price: 50 EUR</h3>
                <p class="text-left">Benefits:</p>
                <ul class="text-left">
                    <li>Benefit 1</li>
                    <li>Benefit 2</li>
                    <li>Benefit 3</li>
                </ul>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="YVUZYTTGC4UF2">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
        </div>
    </div>
{% endblock content %}

{% block aside %}
    {{ block.super }}
{% endblock aside %}
