{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}

<div class="alert alert-success">
    <h3>{% trans 'Category Setup Information:' %}</h3>
    <ul>
        <li>{% trans 'This is then Squaresensor Welcome Wizard Category Setup step.' %}</li>
        <li>{% trans 'You describe your Instagram photography by selecting categories/subject you photograph.' %}</li>
        <li>{% trans 'It will help Squaresensor to accurately set up your account and tailor your experience.' %}</li>
        <li>{% trans 'You can change your settings later.' %}</li>
    </ul>
</div>

<h4 class="lead">{% trans 'STEP ' %} {{ current_step }}: {% trans 'Describe your Instagram photography subjects / categories.' %}<br><small>{% trans 'Please select at least three categories' %}</small></h4>
<div class="row">
    {% for category in categories %}
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom: 5px;">
            <button type="button"
                    id="category_button_{{ category.id }}"
                    onclick="select_member_category({{ category.id }}, {{ logged_member.id }});"
                    class="btn btn-block
                    {% for checkcat in logged_member.memberbelongstocategory_set.all %}
                        {%  if category == checkcat.category %}
                            btn-info
                        {% else %}
                            btn-default
                        {% endif %}
                    {% endfor %}
                "><small>{{ category.title }}</small>
            </button>
        </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                <button type="button"
                        class="btn btn-lg btn-success btn-block"
                        onclick="squaresensor_wizard('{{ next_step }}');"
                        style="margin-top: 20px; margin-bottom: 20px;"
                        >{% trans 'Proceed to Step ' %}{{ next_step }} <span class="glyphicon glyphicon-play"></span></button>
            </div>
        </div>
    </div>
</div>