{% extends 'base.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block title %}@{{ photo_owner.instagram_user_name }} {% trans 'All Time Best Photos' %}{% endblock title %}
{% block page-title %}@{{ photo_owner.instagram_user_name }} <small>{% trans 'All Time Best Posts' %}</small>{% endblock page-title %}

{% block css %}
    {{ block.super }}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "4db241f4-e61c-437d-b58c-c4645c7bfb76", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


    <link href="{{ STATIC_URL }}css/photos.allbest.css" rel="stylesheet">
{% endblock css %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/photos.js" type="text/javascript" charset="utf-8"></script>
{% endblock script %}

{% block content %}
    {{ block.super }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% if logged_member.help_photos_allbest == True %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3>{% trans 'Information' %}</h3>
                        <ul>
                            <li>{% trans 'This page shows the best posts of Instagram user @' %}{{ photo_owner.instagram_user_name }}</li>
                            <li>{% trans 'This selection is done by SquareSensor intelligent technology' %}</li>
                            <li>{% trans 'Selection is not definitive - it is only informative' %}</li>
                        </ul>
                        <button type="button"
                                class="btn btn-default btn-sm"
                                data-dismiss="alert"
                                aria-label="Close"
                                onclick="dismiss_help('help_photos_allbest')"
                                style="margin-top: 20px;"
                                >{% trans 'Do not show again' %}</button>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if photos %}
                    {% for photo in photos %}
                        {% include 'photos/single_thumbnail_photo.html' %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                        No available photos.
                    </div>
                {% endif %}
            </div>


                <div class="col-xs-12 well well-lg text-center" style="margin-bottom: 20px; margin-top: 20px;">
                    <h4>{% trans 'Share your all time best with your friends!' %}</h4>
                    <p>{% trans 'Your friends will need to have Instagram account to see this page.' %}</p>
                    <br>

                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_email_large' displayText='Email'></span>
                </div>



            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
                    {% if show_describe_button %}
                        <form class="form" method="get" action="{% url 'instagramuser:alltimebest' p_username=photo_owner.instagram_user_name p_mode='refresh' %}">
                            <button type="submit" class="btn btn-default btn-block"
                                    id="alltimebest-refresh"
                                    onclick="display_ajax_img('alltimebest-refresh', '{{ STATIC_URL }}')"
                                    >
                                {% trans 'Refresh' %}</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block aside %}
    {{ block.super }}
{% endblock aside %}
