{% load i18n %}
{% load emoji_tags %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{% trans 'Comments' %}</h4>
</div>
<div class="modal-body">
    <div align="center">
        <img class="img-responsive img-thumbnail" src="{{ instagram_thumbnail_url }}">
    </div>

</div>
<div class="modal-footer">

        {% if comments %}
            <div class="row">

                <div class="col-xs-12">

                    {% for comment in comments %}
                        {% autoescape off %}
                            {% if comment.3 == False %}<hr>{% endif %}
                            <p class="
                                    {% if comment.3 == True %}
                                    text-right
                                    {% else %}
                                    text-left
                                    {% endif %}
                                "

                                    >
                                {% if comment.5 == True and comment.3 == True %}
                                    <small><span class="glyphicon glyphicon-arrow-up"></span></small>
                                {% endif %}

                                {% if comment.3 == True %}{{ comment.1  }}: {% endif %}<b>
                                {% if comment.3 == False %}
                                <span class="btn btn-xs btn-default" onclick="inline_comment_toggler('comments_actions_{{ forloop.counter }}', '{{ p_photo_id }}', '{{ comment.2 }}', {{ comment.0 }});">
                                <small><span class="glyphicon glyphicon-option-horizontal"></span></small>
                                </span>
                                {% endif %}
                                {{ comment.2 }}
                                {% if comment.3 == True %}
                                <span class="btn btn-xs btn-default" onclick="inline_comment_toggler('comments_actions_{{ forloop.counter }}', '{{ p_photo_id }}', '{{ comment.2 }}', {{ comment.0 }});">
                                <small><span class="glyphicon glyphicon-option-horizontal"></span></small>
                                </span>
                                {% endif %}
                                </b>{% if comment.3 == False %}: {{ comment.1  }}{% endif %}
                                {% if comment.5 == True and comment.3 == False %}
                                    <small><span class="glyphicon glyphicon-ok"></span></small>
                                {% endif %}</p>

                        {% endautoescape %}
                        <div id="comments_actions_{{ forloop.counter }}" style="display: none;"
                             class="
                                    {% if comment.3 == True %}
                                    text-right
                                    {% else %}
                                    text-left
                                    {% endif %}
                                "
                                >
                            <form class="form form-inline" id="inline_comment_form_{{ p_photo_id }}_{{ comment.0 }}">
                                <div class="form-group col-xs-12">
                                    <input type="text" class="form-control input-sm" name="new_comment_{{ p_photo_id }}_{{ comment.0 }}" id="new_comment_{{ p_photo_id }}_{{ comment.0 }}" value="">

                                    <button type="button" class="btn btn-default btn-xs"
                                            onclick="send_instagram_inline_comment('{{ p_photo_id }}', '{{ comment.0 }}');"
                                            >{% trans 'Send' %}</button>
                                </div>
                            </form>
                        </div>
                        {% if comment.5 == True and comment.3 == True %}
                            <hr>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% else %}
            <p>{% trans 'No comments.' %}</p>
        {% endif %}
    <form action="" method="POST" id="comment_form_{{ p_photo_id }}" class="form">
        <input type="text" class="input-sm" name="new_comment_{{ p_photo_id }}">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Discard' %}</button>
        <button type="button" class="btn btn-primary" onclick="send_instagram_comment('{{ p_photo_id }}');">{% trans 'Send' %}</button>

    </form>
</div>