{% load i18n %}

<div class="col-xs-12 col-sm-6">
    <div class="panel panel-heading">
        <div align="center">
            <img class="img-responsive img-thumbnail" src="{{ photo.images.low_resolution.url }}"
                 >
        </div>


        <div class="panel panel-body squaresensor-image-panel-body">

            <div class="col-xs-4 text-left">
                <button class="btn btn-xs squaresensor-image-button">
                    <small><span class="glyphicon glyphicon-heart-empty"></span>
                        <div class="badge">{{ photo.like_count }}</div></small>
                </button>
            </div>
            <div class="col-xs-4 text-center">
                {%  if show_describe_button %}
                    <button class="btn btn-xs squaresensor-image-button" data-toggle="modal" data-target="#myModal_{{ photo.id }}">
                        <small><span class="glyphicon glyphicon-list-alt"></span>
                        </small>
                    </button>
                {% endif %}
            </div>
            <div class="col-xs-4 text-right">
                <button class="btn btn-xs squaresensor-image-button" onclick="load_instagram_comments('{{ photo.id }}');">
                    <small><span class="glyphicon glyphicon-comment"></span>
                        <div class="badge" id="instagram_comments_text_{{ photo.id }}">{{ photo.comment_count }}</div></small>
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Modal comments -->
<div class="modal fade" id="myModal_comments_{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <div id="myModal_comments_text_{{ photo.id }}">
<p>Komentari</p>
                </div>
            </div>
        </div>
    </div>
</div>
