{% load i18n %}
{% load static %}

<div class="col-xs-12 col-sm-6">
    <div class="container-fluid squaresensor-image-panel-body">
        <div class="row">
            <div align="center" style="margin-top: 10px; margin-bottom: 10px;">
                {% if photo.instagram_standard_resolution_URL %}
                    <img class="img-responsive img-thumbnail" src="{{ photo.instagram_standard_resolution_URL }}"
                         title="{{ photo.instagram_caption }}">
                {% endif %}
            </div>
        </div>

        <div class="row">

            <div class="col-xs-4 text-left">
                <button id="like_button_{{ photo.instagram_photo_id }}"
                        onclick="like_instagram_picture('{{ photo.instagram_photo_id }}', '{% get_static_prefix %}');"
                        class="btn btn-xs squaresensor-image-button btn-block
                    {%  if photo.instagram_photo_id in liked_photos %}
                        btn-danger
                    {% else %}
                        btn-default
                    {% endif %}
                ">
                    <small><span class="glyphicon glyphicon-heart-empty
                    "></span>
                        <span class="badge" id="instagram_likes_text_{{ photo.instagram_photo_id }}">{{ photo.instagram_likes }}</span></small>
                </button>
            </div>
            <div class="col-xs-4 text-center">
                {%  if show_describe_button %}
                    <button class="btn btn-xs btn-default squaresensor-image-button btn-block" data-toggle="modal" data-target="#myModal_{{ photo.id }}">
                        <small><span class="glyphicon glyphicon-list-alt"></span>
                        </small>
                    </button>
                {% endif %}
            </div>
            <div class="col-xs-4 text-right">
                <button class="btn btn-xs btn-default squaresensor-image-button btn-block" onclick="load_instagram_comments('{{ photo.instagram_photo_id }}');">
                    <small><span class="glyphicon glyphicon-comment"></span>
                        <span class="badge" id="instagram_comments_text_{{ photo.instagram_photo_id }}">{{ photo.instagram_comments }}</span></small>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal describe -->
<div class="modal fade" id="myModal_{{photo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Describe this photo' %}</h4>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <img class="img-responsive img-thumbnail" src="{{ photo.instagram_thumbnail_URL }}">
                    </div>
                    <form action="" method="POST" id="category_selection_form_{{ photo.id }}">
                        {% if categories %}
                            <div class="row">
                                <h5 class="text-center">{% trans 'Select Categories' %}</h5>
                                <div class="col-xs-12 text-justify">
                                    <div class="btn-group" data-toggle="buttons">
                                        {% for category in categories %}
                                            <label class="btn btn-default btn-xs" title="{{ category.description }}">
                                                <input name="categories_{{ photo.id }}_{{ category.id }}" type="checkbox" autocomplete="off"> {{ category.title }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>{% trans 'No categories defined.' %}</p>
                        {% endif %}
                        {% if attributes %}
                            <div class="row">
                                <h5 class="text-center">{% trans 'Select Styles' %}</h5>
                                <div class="col-xs-12 ">
                                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                                        {% for attribute in attributes %}
                                            <label class="btn btn-default btn-xs" title="{{ attribute.description }}">
                                                <input name="attributes_{{ photo.id }}_{{ attribute.id }}" type="checkbox" autocomplete="off"> {{ attribute.title }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>{% trans 'No styles defined.' %}</p>
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Discard' %}</button>
                    <button type="button" class="btn btn-primary" onclick="save_attributes_and_categories({{ photo.id }});">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal comments -->
<div class="modal fade" id="myModal_comments_{{ photo.instagram_photo_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <div id="myModal_comments_text_{{ photo.instagram_photo_id }}">
                    <p>Komentari</p>
                </div>
            </div>
        </div>
    </div>
</div>