<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-heading">
        <div align="center">
            <img class="img-responsive img-thumbnail" src="{{ photo.instagram_low_resolution_URL }}"
                 title="{{ photo.photo_rating }}">
        </div>


        <div class="panel panel-body">
            <div class="col-xs-6 text-left">
                <button class="btn btn-xs btn-link">
                    <small><span class="glyphicon glyphicon-heart-empty"></span>
                        <div class="badge">{{ photo.instagram_likes }}</div></small>
                </button>
            </div>

            <div class="col-xs-6 text-right">
                <button class="btn btn-xs btn-link">
                    <small><span class="glyphicon glyphicon-comment"></span>
                        <div class="badge">{{ photo.instagram_comments }}</div></small>
                </button>
            </div>
        </div>
    </div>


</div>
