{% extends 'base.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block title %}{% trans 'Find New Instagram Friends' %}{% endblock title %}
{% block page-title %}{% trans 'Find New Friends' %}{% endblock page-title %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/instagramuser.find-new-friends.css" rel="stylesheet">
{% endblock css %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/photos.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/instagramuser.js" type="text/javascript" charset="utf-8"></script>
{% endblock script %}

{% block content %}
    {{ block.super }}
    <div class="container-fluid">
        <div id="top-of-new-friends-page"></div>
        <div class="row">
            <div class="col-xs-12">
                {% if logged_member.help_instagramuser_find_new_friends == True %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <h3>{% trans 'Guidelines:' %}</h3>
                        <ul>
                            <li>{% trans 'Pick one photo you like, per user, to interact with. Leave a supportive comment if you like their work.' %}</li>
                            <li>{% trans 'Please do not spam. Spamming is not allowed on Squaresensor.' %}</li>
                            <li>{% trans "Please be supportive if you like people's work. If not - skip." %}</li>
                            <li>{% trans 'Do not use more than three hashtags in your comments. It is best not to use them a all, it can be quite annoying.' %}</li>
                            <li>{% trans 'Important: We do not guarantee you will get new friends. People will decide that by themselves.' %}</li>
                            <li><b>{% trans 'REMEMBER - you are interacting with real, living people.' %}</b></li>
                        </ul>
                        <button type="button"
                                class="btn btn-default btn-sm"
                                data-dismiss="alert"
                                aria-label="Close"
                                onclick="dismiss_help('help_instagramuser_find_new_friends')"
                                style="margin-top: 20px;"
                                >{% trans 'Do not show again' %}</button>
                    </div>
                {% endif %}
                <div class="alert alert-info">
                    <p>{% blocktrans %}You can interact with max {{ max_interactions }} potential new friends today.{% endblocktrans %}</p>
                    <p>{% blocktrans with interactions_remaining|pluralize as int_rem %}You have <span id="interactions_remaining_text">{{ interactions_remaining }}</span> interaction{{ int_rem }} remaining for today.{% endblocktrans %}</p>
                    {% if hours_remaining %}
                        <p>{% blocktrans with hours_remaining|pluralize as hours_rem %}Limit reset in <span id="interactions_remaining_text">{{ hours_remaining }}</span> hour{{ hours_rem }}.{% endblocktrans %}</p>
                    {% endif %}
                    {% if not logged_member.is_monthly_member and not logged_member.is_yearly_member %}
                        <p><b>{% trans 'By becoming a Squaresensor member you will increase your daily limit. Click' %}
                            <a class="btn btn-xs btn-default" href="{% url 'members:new_membership' %}">{% trans 'here' %}</a> {% trans 'for more information.' %}</b></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if friends_and_photos %}

            {% for friend_and_photos in friends_and_photos %}
                <div class="squaresensor-sub-panel" id="new_friend_{{ friend_and_photos.0.instagram_user_id }}">
                    <div class="row"  style="margin-bottom: 20px;">

                        <div class="col-xs-12">
                            <h4>@{{ friend_and_photos.0.instagram_user_name }}</h4>
                            <br>
                            <form method="get" action="">
                                <button type="button"
                                        id="skip_button_{{ friend_and_photos.0.instagram_user_id }}"
                                        class="btn btn-default squaresensor-button-with-margin"
                                        onclick="skip_new_friend('{{ friend_and_photos.0.instagram_user_id }}');"
                                        >
                                    {% trans 'Skip' %}
                                </button>
                            </form>
                            {% if show_describe_button %}
                                <form method="get" action="#">
                                    <button type="button"
                                            id="remove_button_{{ friend_and_photos.0.instagram_user_id }}"
                                            class="btn btn-default squaresensor-button-with-margin"
                                            onclick="remove_new_friend('{{ friend_and_photos.0.instagram_user_id }}');"
                                            >
                                        {% trans 'Remove new friend' %}
                                    </button>
                                </form>
                            {%  endif %}
                        </div>
                    </div>
                    <div class="row">
                        {% for photo in friend_and_photos.1 %}
                            {% include 'photos/single_thumbnail_photo_ig.html' %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <form action="{% url 'instagramuser:new_friends' %}" method="get">
                <button class="btn btn-lg btn-success col-xs-12 col-sm-4 col-sm-offset-4"
                        style="margin-bottom: 20px;"
                        id="load_more_friends"
                        onclick="display_ajax_img('load_more_friends', '')"
                        >
                    {% trans 'Load more' %}
                </button>
            </form>
        {% else %}
            <div class="alert alert-info" role="alert">
                {% trans 'There are no new friends available in Squaresensor at the moment!' %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                <form method="get" action="{%  url 'members:dashboard' %}">
                    <button class="btn btn-default btn-block">{% trans 'Go to Dashboard' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block aside %}
    {{ block.super }}
{% endblock aside %}
