{% extends 'base.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block title %}{% trans 'Squaresensor Inspiring Artists' %}{% endblock title %}
{% block page-title %}{% trans 'Squaresensor' %} <small>{% trans 'Inspiring Artists' %}</small>{% endblock page-title %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/inspiringusers.index.css" rel="stylesheet">
{% endblock css %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/instagramuser.js" type="text/javascript" charset="utf-8"></script>
{% endblock script %}

{% block content %}
    {{ block.super }}
    {%  if inspiring_users  %}
        <div class="container-fluid">
            {% for inspiring_user in inspiring_users %}
                <div class="row squaresensor_inspiringuser">
                    <div class="col-xs-12 col-sm-4">
                        <div align="center">
                            <a href="{% url 'instagramuser:inspiring_user' p_inspiring_user_name=inspiring_user.instagram_user_name %}">
                                <img class="img-responsive img-circle small_profile_img squaresensor-image-circular" src="{{ inspiring_user.instagram_profile_picture_URL }}">
                                <br>
                                <h4>@{{ inspiring_user.instagram_user_name }}</h4></a>
                            <br>
                            <button class="btn btn-default squaresensor-button">
                                <span class="glyphicon glyphicon-bookmark"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <span class="btn btn-primary" style="margin-bottom: 5px;"><small>Posts<br><span class="badge"><small>{{ inspiring_user.number_of_media }}</small></span></small></span>

                                    <span class="btn btn-primary" style="margin-bottom: 5px;"><small>Followers<br><span class="badge"><small>{{ inspiring_user.number_of_followers }}</small></span></small></span>

                                    <span class="btn btn-primary" style="margin-bottom: 5px;"><small>Follows<br><span class="badge"><small>{{ inspiring_user.number_of_followings }}</small></span></small></span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p><b>{% trans 'Name' %}:</b> {{ inspiring_user.instagram_user_full_name }}</p>
                        <p class="text-justify"><b>{% trans 'Bio' %}:</b> {{ inspiring_user.instagram_user_bio }}</p>
                        <p><b>{% trans 'Web Site' %}:</b> <small><a href="{{ inspiring_user.instagram_user_website_URL }}">{{ inspiring_user.instagram_user_website_URL }}</a></small></p>
                        <p>

                            <a href="{% url 'instagramuser:alltimebest' p_username=inspiring_user.instagram_user_name p_mode='view' %}">
                                <button type="button" class="btn btn-sm btn-default squaresensor-button" style="margin: 10px;">{% trans 'Best photos' %}</button>
                            </a>
                            <a href="{% url 'instagramuser:any_user_recent_best' p_instagram_user_name=inspiring_user.instagram_user_name %}">
                                <button type="button" class="btn btn-sm btn-default squaresensor-button" style="margin: 10px;">{% trans 'Recent good photos' %}</button>
                            </a>
                            <a href="{{ inspiring_user.instagram_user_profile_page_URL }}" target="_blank">
                                <button class="btn btn-sm btn-default squaresensor-button">{% trans 'IG Profile' %}</button>
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans 'There are no inspiring artists on Squaresensor yet.' %}</p>
    {% endif %}
{% endblock content %}

{% block aside %}
    {{ block.super }}
{% endblock aside %}
