{% load i18n %}

<div class="row squaresensor_inspiringuser">
    <div class="col-xs-12 col-sm-3">
        <div align="center">
            <a href="{% url 'instagramuser:inspiring_user' p_inspiring_user_name=inspiring_user.instagram_user.instagram_user_name %}">
                <img src="{{ inspiring_user.instagram_user.instagram_profile_picture_URL }}" class="img-responsive img-circle small_profile_img squaresensor-image-circular"><br>
                @{{ inspiring_user.instagram_user.instagram_user_name }}</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <button class="btn btn-sm btn-default squaresensor-button" style="margin: 10px;">
            <a href="{{ inspiring_user.instagram_user.instagram_user_profile_page_URL }}" target="_blank">{% trans 'IG Profile Page' %}</a>
        </button>
        <button class="btn btn-sm btn-default squaresensor-button" style="margin: 10px;">
            <a href="{% url 'instagramuser:alltimebest' p_username=inspiring_user.instagram_user.instagram_user_name p_mode='view' %}">
                {% trans 'Best Photos' %}
            </a>
        </button>
        <button class="btn btn-sm btn-default squaresensor-button" style="margin: 10px;">
            <a href="{% url 'instagramuser:inspiring_user' p_inspiring_user_name=inspiring_user.instagram_user.instagram_user_name %}">
                {% trans 'Recent Best' %}
            </a>
        </button>
    </div>
</div>
