{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block bootstrap3_title %}{% block title %}{% endblock title %}{% endblock bootstrap3_title%}

{% block bootstrap3_extra_head %}
    {# Stops zooming on touchscren devices #}
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    {% block css %}
        <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    {% endblock css %}
{% endblock bootstrap3_extra_head %}

{% block bootstrap3_extra_script %}
    {% block script %}
        {% dajaxice_js_import %}
        <script src="{{ STATIC_URL }}js/vendor/jquery.ba-serializeobject.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/base.js" type="text/javascript" charset="utf-8"></script>
    {% endblock script %}
{% endblock %}

{% bootstrap_messages %}

{% block bootstrap3_content %}
    {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top squaresensor-top-navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'members:dashboard' %}">Squaresensor</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse color-primary-1" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                        <li><a href="{% url 'members:dashboard' %}">Home</a></li>
                        <li><a href="{% url 'smartfeed:index' %}">{% trans 'Smart Feed' %}</a></li>
                        <li><a href="#">{% trans 'Find Friends' %}</a></li>
                        <li><a href="{% url 'instagramuser:index_inspiring_artists' %}">{% trans 'Inspiring Artists' %}</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans 'Browse' %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">{% trans 'Find IG User' %}</a></li>
                                <li><a href="{% url 'categories:index' %}">{% trans 'Categories' %}</a></li>
                                <li><a href="#">{% trans 'Styles' %}</a></li>
                            </ul>
                        </li>
                    </ul>


                    {% if request.user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My account <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">{% trans 'Import IG Followings' %}</a></li>
                                    <li><a href="#">{% trans 'Preferences' %}</a></li>
                                    <li><a href="#">{% trans 'Information' %}</a></li>

                                    <li class="divider"></li>
                                    <li><a href="{% url 'members:logout' %}">{% trans 'Logout' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock navbar %}

    <div class="page-header">
        <div class="container">
            <h1 class="squaresensor-page-title">{% block page-title %}{% endblock page-title %}</h1>
        </div>
    </div>

    <div class="container squaresensor-content-panel">
    <div class="row">
        <div class="col-xs-12 col-md-8 squaresensor-sub-panel center-block">

            <!-- Main content-->
            {% block content %}
            {% endblock content %}
        </div>

        <div class="col-xs-12 col-md-4 squaresensor-sub-panel center-block">
            {% block aside %}
                <p>Reklame u base.html</p>
            {% endblock aside %}
        </div>
    </div>


    {% block statusbar %}
        <div class="navbar-xs">
            <div class="navbar-primary">
                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container">
                        <button class="btn btn-xs statusbar-text"><span class="glyphicon glyphicon-step-backward" onclick="back_button();"></span></button>
                        <button class="btn btn-xs statusbar-text">LTM <span class="badge" id="ltm">{{ logged_member.likes_in_last_minute }}</span></button>
                        <button class="btn btn-xs statusbar-text">CTM <span class="badge" id="ctm">{{ logged_member.comments_in_last_minute }}</span></button>
                        <button class="btn btn-xs statusbar-text">IGLU <span class="badge" id="iglu">{{ x_limit_pct }}%</span></button>
                    </div>
                </nav>
            </div>
        </div>
    {% endblock statusbar %}

{% endblock bootstrap3_content %}

