{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block bootstrap3_title %}{% block title %}{% endblock title %}{% endblock bootstrap3_title%}

{% block bootstrap3_extra_head %}
    {% block css %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{ STATIC_URL }}css/lander.base.css" rel="stylesheet">
    {% endblock css %}
{% endblock bootstrap3_extra_head %}

{% block bootstrap3_extra_script %}
    {% block script %}
        <script src="{{ STATIC_URL }}js/base.js" type="text/javascript" charset="utf-8"></script>
    {% endblock script %}
{% endblock %}

{% bootstrap_messages %}

{% block bootstrap3_content %}
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5HKWJX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5HKWJX');</script>
<!-- End Google Tag Manager -->
    {% block content %}
    {% endblock content %}
{% endblock bootstrap3_content %}

