{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block bootstrap3_title %}{% block title %}{% endblock title %}{% endblock bootstrap3_title%}

{% block bootstrap3_extra_head %}
    {% block css %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{ STATIC_URL }}css/lander.base.css" rel="stylesheet">
    {% endblock css %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href={{ STATIC_URL }}ico"/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}ico/favicon-16x16.png">
    <link rel="manifest" href="{{ STATIC_URL }}ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
{% endblock bootstrap3_extra_head %}

{% block bootstrap3_extra_script %}
    {% block script %}
        <script src="{{ STATIC_URL }}js/base.js" type="text/javascript" charset="utf-8"></script>
    {% endblock script %}
{% endblock %}

{% bootstrap_messages %}

{% block bootstrap3_content %}
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5HKWJX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5HKWJX');</script>
<!-- End Google Tag Manager -->
    {% block content %}
    {% endblock content %}
{% endblock bootstrap3_content %}

